*,
*::after,
*::before {
  margin: 0;
  padding: 0;
  box-sizing: inherit;
  /* inherits from body */
}

/* 
html = root 
by setting root font-size 10px
1rem to be 10px
root font-size * rem = px;
*/
html {
  /* 10/16(default font-size) => 0.625 to make root font size 10px */
  // this defines what 1rem is
  font-size: 62.5%;
}

body {
  box-sizing: border-box;
}
